html
	head
		title=title
		link(href="http://getbootstrap.com/dist/css/bootstrap.min.css",
		rel="stylesheet")
		link(href="http://getbootstrap.com/examples/signin/signin.css",
		rel="styleshhet")

	body
		div.container
			form(class='form-signin', action='/register', method='post')
				h2(class='form-signin-heading text-center') Create New Blogpost

				label.sr-only(for='username') Username
				input.form-control(type='text', name='username', id='username', placeholder='Username', required, autofocus)
				br

				label.sr-only(for='firstName') First Name
				input.form-control(type='text', name='firstName', id='firstName', placeholder='First Name', required, autofocus)
				br

				label.sr-only(for='lastName') Last Name
				input.form-control(type='text', name='lastName', id='lastName', placeholder='Last Name', required, autofocus)
				br

				label.sr-only(for='email') E-mail
				input.form-control(type='email', name='email', id='email', placeholder='E-mail', required)
				br

				label.sr-only(for='password') Password
				input.form-control(type='password', name='password', id='password', placeholder='Password')
				br

				button(class='btn btn-lg btn-primary btn-block', type='submit') Register
		br

		p(class='form-signin-heading text-center')=messages