html
	head
		title=title
		link(href="http://getbootstrap.com/dist/css/bootstrap.min.css",
		rel="stylesheet")
		link(href="http://getbootstrap.com/examples/signin/signin.css",
		rel="styleshhet")

	body
		div.container
			form(class='form-signin', action='/blogposts', method='post')
				h2(class='form-signin-heading text-center') Create New Blogpost
				br
				br

				label.sr-only(for='title') Title
				input.form-control(type='text', name='title', id='title', placeholder='Title', required, autofocus)
				br

				label.sr-only(for='description') Description
				textarea.form-control(type='text', name='description', id='description', placeholder='Description', required, autofocus)
				br

				label.sr-only(for='fullpost') Full Post
				textarea.form-control(type='text', name='fullpost', id='fullpost', style="height: 40%", placeholder='Full Post', required, autofocus)
				br

				button(class='btn btn-lg btn-primary btn-block', type='submit') Create
		br

		p(class='form-signin-heading text-center')=messages